.controlPanel {
  width: 300px;
  background-color: moccasin;
  position: absolute;
  top: 0;
  left: 0;
}

.toolbar {
  display: flex;
  flex-direction: row-reverse;
  background-color: blanchedalmond;
}