h1,
p {
  font-family: Lato;
}

.main {
  background-image: url("./images/stars.png");
  background-color: black;
}

#root {
  position: absolute;
}

.fullScreen,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gridMain {
  display: grid;
  grid-template-columns: 300px auto;
}
